In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config1 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-05-02 03:44:43,3.0707,172.7902,81.73,77,70,12.59
1,1,Bethel,US,2022-05-02 03:44:43,41.3712,-73.4140,57.29,53,75,3.44
2,2,Sotouboua,TG,2022-05-02 03:44:43,8.5667,0.9833,74.19,83,93,3.42
3,3,Jamestown,US,2022-05-02 03:39:56,42.0970,-79.2353,54.72,97,100,8.05
4,4,Yellowknife,CA,2022-05-02 03:42:01,62.4560,-114.3525,41.52,56,0,8.05

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Module 6.5.2

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
print(city_data_df)

     City_ID           City Country                 Date      Lat       Lng  \
0          0     Butaritari      KI  2022-05-02 03:44:43   3.0707  172.7902
1          1         Bethel      US  2022-05-02 03:44:43  41.3712  -73.4140
2          2      Sotouboua      TG  2022-05-02 03:44:43   8.5667    0.9833
3          3      Jamestown      US  2022-05-02 03:39:56  42.0970  -79.2353
4          4    Yellowknife      CA  2022-05-02 03:42:01  62.4560 -114.3525
..       ...            ...     ...                  ...      ...       ...
561      561        Le Port      RE  2022-05-02 03:48:38 -20.9373   55.2919
562      562       Pacifica      US  2022-05-02 03:44:17  37.6138 -122.4869
563      563       Morehead      US  2022-05-02 03:48:38  37.2711  -87.1764
564      564   Areia Branca      BR  2022-05-02 03:48:39  -4.9561  -37.1369
565      565  Pacific Grove      US  2022-05-02 03:48:39  36.6177 -121.9166

     Max Temp  Humidity  Cloudiness  Wind Speed
0       81.73        77          70       12.59
1       57.29        53          75        3.44
2       74.19        83          93        3.42
3       54.72        97         100        8.05
4       41.52        56           0        8.05
..        ...       ...         ...         ...
561     76.24        66           0        3.20
562     60.39        80          20       25.32
563     59.99        78           0        0.00
564     76.77        85          61       13.38
565     55.87        82           0        8.01

[566 rows x 10 columns]

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-05-02 03:44:43,3.0707,172.7902,81.73,77,70,12.59
13,13,Los Algarrobos,PA,2022-05-02 03:44:47,8.5000,-82.4333,75.61,94,75,4.61
19,19,Mahebourg,MU,2022-05-02 03:44:50,-20.4081,57.7000,76.24,94,20,2.30
21,21,Georgetown,MY,2022-05-02 03:40:41,5.4112,100.3354,87.75,74,20,5.99
26,26,Rikitea,PF,2022-05-02 03:44:52,-23.1203,-134.9692,76.60,72,100,6.22
30,30,Bubaque,GW,2022-05-02 03:44:53,11.2833,-15.8333,77.07,69,76,10.22
31,31,Atuona,PF,2022-05-02 03:44:54,-9.8000,-139.0333,78.33,82,100,15.01
33,33,Namatanai,PG,2022-05-02 03:44:55,-3.6667,152.4333,85.42,67,15,6.42
35,35,Oranjestad,AW,2022-05-02 03:44:56,12.5240,-70.0270,80.55,83,20,25.32
46,46,Kulhudhuffushi,MV,2022-05-02 03:45:00,6.6221,73.0700,85.84,75,92,17.78

In [20]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [21]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [22]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [23]:
# If you have some rows with null values, 
# you'll need to drop them using the dropna() method at the end of your filtering 
# statement when you are creating the new DataFrame.

In [24]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-05-02 03:44:43,3.0707,172.7902,81.73,77,70,12.59
13,13,Los Algarrobos,PA,2022-05-02 03:44:47,8.5000,-82.4333,75.61,94,75,4.61
19,19,Mahebourg,MU,2022-05-02 03:44:50,-20.4081,57.7000,76.24,94,20,2.30
21,21,Georgetown,MY,2022-05-02 03:40:41,5.4112,100.3354,87.75,74,20,5.99
26,26,Rikitea,PF,2022-05-02 03:44:52,-23.1203,-134.9692,76.60,72,100,6.22
...,...,...,...,...,...,...,...,...,...,...
554,554,Atambua,ID,2022-05-02 03:48:36,-9.1061,124.8925,86.58,49,95,3.38
558,558,Isangel,VU,2022-05-02 03:48:37,-19.5500,169.2667,80.71,83,100,4.61
559,559,Panama City,PA,2022-05-02 03:43:59,8.9936,-79.5197,80.55,87,40,4.61
561,561,Le Port,RE,2022-05-02 03:48:38,-20.9373,55.2919,76.24,66,0,3.20
564,564,Areia Branca,BR,2022-05-02 03:48:39,-4.9561,-37.1369,76.77,85,61,13.38

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Butaritari      KI     81.73   3.0707  172.7902
13  Los Algarrobos      PA     75.61   8.5000  -82.4333
19       Mahebourg      MU     76.24 -20.4081   57.7000
21      Georgetown      MY     87.75   5.4112  100.3354
26         Rikitea      PF     76.60 -23.1203 -134.9692
30         Bubaque      GW     77.07  11.2833  -15.8333
31          Atuona      PF     78.33  -9.8000 -139.0333
33       Namatanai      PG     85.42  -3.6667  152.4333
35      Oranjestad      AW     80.55  12.5240  -70.0270
46  Kulhudhuffushi      MV     85.84   6.6221   73.0700

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [27]:
hotel_df.head()

              City Country  Max Temp      Lat       Lng   Hotel Name
0       Butaritari      KI     81.73   3.0707  172.7902    Ukiangang
13  Los Algarrobos      PA     75.61   8.5000  -82.4333        David
19       Mahebourg      MU     76.24 -20.4081   57.7000    Mahebourg
21      Georgetown      MY     87.75   5.4112  100.3354  George Town
26         Rikitea      PF     76.60 -23.1203 -134.9692      Rikitea

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))